.footer {
  position: relative;
  background-color: #263879; /* Dark blue */
  color: #fff;
  padding:78px 136px ;
  overflow: hidden;
  font-family: "Onest", sans-serif;
}

// .footer::after {
//   position: absolute;
//   content: "";
//   width: 10cm;
//   height: 10cm;
//   // border: 1px solid white;
//   right: 0;
//   bottom: 0; 
//   background-image: url("../../../public//images/assets/vector2.png");
//   background-repeat: no-repeat;
//   background-position: -3cm center;
//   background-size: 200% auto;

// }
.decor-image-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 521px;
  width: 460px;
}

.footer-main {
  display: flex;
  gap: 70px;
}

.footer-content {
  position: relative;
  display: flex;

  flex-direction: column;
  z-index: 1;
  // max-width: 1200px;
  margin: auto;
}

.footer-left {
  margin-right: 120px;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 225px;
  margin-bottom: 15px;
}

.footer-desc {
  max-width: 250px;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
 
}

.footer-copy {
  margin-top: 15px;
  font-size:16px;
  font-weight: 400;
  color: #ccc;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  color: var(--color-thm-white);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.64px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links li:hover {
  color: #e5202b;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 4;
  align-items: flex-start;
}
.footer-contact p{
  color: var(--color-thm-white);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.address-details{
  color: var(--color-thm-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.contact-btn {
  margin-top: 15px;
  background-color: #dc2626;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #c01723;
}




// Mobile Footer
.footer-mobile {
  position: relative;
  font-family: "Onest", sans-serif;
  background-color: #263879;
  color: #fff;
  text-align: center;
  padding: 42px 0;
  

  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    
  }

  .footer-desc-mobile {
    font-size: 10px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
    text-align: center;
  }

  .footer-links-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  justify-content: space-between;
    margin-bottom: 24px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: space-between;

      li {
        font-size: 10px;
        letter-spacing: 0.4px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: left;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  .footer-copy-mobile {
    color: var(--color-thm-white);
    font-family: Onest;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    text-align: left;
  }
}
.decor-image-footer-mobile{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 140px;
  width: 106px;
}

